<div class="wrap">
  <div class="container">
    <header fxFlex="100%" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between center">
      <div class="menu">
        <a class="active">Home</a>
        <a >About</a>
        <a >Project</a>
        <a >Article</a>
      </div>
      <div class="logo">CV</div >
      <div class="menu">
        <a class="border1" href="https://www.facebook.com/profile.php?id=100075990096267"><fa-icon [icon]="faFacebook"></fa-icon></a>
        <a class="border1" href="https://github.com/Lakeserl"><fa-icon [icon]="faGithub"></fa-icon></a>
        <a class="border1" href=""><fa-icon [icon]="faMoon"></fa-icon></a> 
      </div>
    </header>

    <div class="content">
      <div>
        <img src="/assets/images/MyImages.jpg" alt="" width="100%">
      </div>
      <div>
        <h1>Hello World, I'm Lakeserl</h1>
        <p>I am a motivated and fast-learning individual seeking a back-end development internship. 
          I’m passionate about writing clean, efficient code and always looking to improve my skills in modern 
          backend technologies such as Node.js and Spring Boot.</p>
        <button>
          Resume
        </button>
        <a >Contract</a>
      </div>
    </div>
  </div>
</div> 