<div class="wrap">
  <div class="container">
    <header>
      <div>
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Project</a>
        <a href="">Article</a>
      </div>
      <div>
        CB
      </div>
        <a href="https://github.com/Lakeserl" target="_blank">
          <i class="fab fa-github fa-xl"></i>
        </a>
        <a href="https://www.linkedin.com/in/lâm-vũ-1a8672329/" target="_blank">
          <i class="fab fa-linkedin fa-xl"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100075990096267" target="_blank">
          <i class="fab fa-facebook fa-xl"></i>
        </a>
        <a href="https://x.com/Lake031118" target="_blank">
          <i class="fab fa-x-twitter fa-xl"></i>
        </a>
        <a href="#" target="_blank">
          <i class="fas fa-moon fa-xl"></i>
        </a>
    </header>
  </div>
</div>